<div class="table-responsive" style="max-height: 90%;">
    <table class="table table-hover table-bordered">
        <thead>
            <% for(var i = 0 ; i < keys.length; i++) {%>
                <th class='<%= keys[i] %>'><%= keys[i] %></th>
            <% } %>
        </thead>
            <% for(var i = 0; i < fileList.length; i++) {%>
        <tbody>
                <% var file_id = fileList[i]["file_id"]; %>
                <% var file_url = fileList[i]["file_url"]; %>
                <% var status = fileList[i]["status"]; %>
                <% var first_orderId = String(fileList[i]["order_id"]).split(",").at(-1); %>
                <% var orderId = fileList[i]["order_id"].reverse(); %>
                <tr id='<%= file_id %>'>
                <% for(var j = 0; j < keys.length; j++) {%>
                    <td>
                    <% if(keys[j] == "file_url") { %>
                        <a target="_blank" href='<%= file_url %>'>
                            <%= fileList[i][keys[j]] %>
                        </a>
                    <% }else if(keys[j] == "status" && status == "Delivered") { %>
                            <a target="_blank" href='<%= first_orderId %>/<%= first_orderId %>_transcript.txt'>
                                Transcript_<%= first_orderId %>
                            </a>
                            <br>
                            <% for(var k = 0; k < orderId.length; k++) {%>
                                <% var l_orderId = orderId[k]; %>
                                <a target="_blank" href='<%= first_orderId %>/Order_<%= l_orderId %>_Receipt_III.html'>
                                    Receipt_<%= l_orderId %>
                                </a>
                            <% } %>
                    <% } else if(keys[j] == "status" && status == "uploaded") { %> 
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalView" data-bs-type="Submit" data-bs-file_url="<%= file_url %>" data-bs-file_id="<%= file_id %>">Submit</button>
                            <br><br>
                            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalView" data-bs-type="Delete" data-bs-file_url="<%= file_url %>" data-bs-file_id="<%= file_id %>">Delete</button>
                    <% } else if(keys[j] == "price") { %>
                        <% if(orderId.length>1) { %>
                            <p style="color:#ff5050"><%= fileList[i][keys[j]] %></p>
                        <% } else { %> 
                            <p><%= fileList[i][keys[j]] %></p>
                        <% } %>                
                    <% } else { %>
                        <%= fileList[i][keys[j]] %>
                    <% } %>
                    </td>
                <% } %>
                   
                </tr>
            <% } %>
         
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="model-title">Do you want to ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal-body" class="modal-body">
          This action can't be undo.
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="actionButton" type="button" class="btn btn-primary"></button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <span class="fa fa-spinner fa-spin fa-3x">Loading...</span>
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
      <span class="text-muted"></span>
    </div>
  </footer>

<script>
    var modalElement = document.getElementById('modalView');
    var modalInstance = bootstrap.Modal.getOrCreateInstance(modalElement);
    var file_id = "";
    var file_url = "";
    var type = "";
    modalElement.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        file_id = button.getAttribute('data-bs-file_id')
        file_url = button.getAttribute('data-bs-file_url')
        type = button.getAttribute('data-bs-type')
        // var modalTitle = modalElement.querySelector('.modal-title')
        // var modalBodyInput = modalElement.querySelector('.modal-body input')
   
        document.querySelector('#model-title').innerText = `Do you want to ${type} ?`
        document.querySelector('#modal-body').innerText = `${file_url} will be ${type}.\nThis action can't be undo.`
        document.querySelector('#actionButton').innerText = type;
    })
    document.getElementById('actionButton').addEventListener("click", function() {
        if(file_id == ""){
            return;
        }
        modalInstance.hide();
        let loadingModal = bootstrap.Modal.getOrCreateInstance(document.getElementById('loadingModal'));
        loadingModal.show();
        
        // console.log(`file_id: ${file_id}, type: ${type}`)
        let url = "/api/submit"
        if(type=='Delete') {
            url = "/api/delete";
        }

        axios.post(url, {
            file_id: file_id,
        }).then(function (response) {
            if(response.data.message=="ok") {
                loadingModal.hide();
                location.reload();
            }else {
                alert(JSON.stringify(response.data.message));
                loadingModal.hide();
            }
        }).catch(function (error) {
            console.log(error);
        });
    });
</script>
<style>
    .table-responsive{
        overflow-x: scroll;
    }
    .table-responsive::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .table-responsive::-webkit-scrollbar:vertical {
        width: 12px;
    }
    .table-responsive::-webkit-scrollbar:horizontal {
        height: 12px;
    }
    .table-responsive::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid #ffffff;
    }
    .table-responsive::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ffffff;
    }
    </style>
