<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <% for(var i=0; i<keys.length; i++) {%>
                <th class='<%= keys[i] %>'><%= keys[i] %></th>
            <% } %>
            <th></th>
        </thead>
            <% for(var i=0; i<fileList.length; i++) {%>
        <tbody>
                <% var keys = Object.keys(fileList[i]); %>
                <% var file_name = fileList[i]["file_name"]; %>
                <% var file_url = fileList[i]["file_url"]; %>
                <% var status = fileList[i]["status"]; %>
                <% var orderId = fileList[i]["order_id"]; %>
                <tr id='<%= file_name %>'>
                <% for(var j=0; j<keys.length; j++) {%>
                    <td>
                    <% if(keys[j] == "file_name") { %>
                        <a target="_blank" href='<%= file_url %>'>
                            <%= fileList[i][keys[j]] %>
                        </a>
                    <% }else if(keys[j] == "status" && status == "Delivered") { %>
                            <a target="_blank" href='<%= orderId %>/transcript.txt'>
                                Delivered
                            </a>
                    <% } else if(keys[j] == "status" && status == "uploaded") { %> 
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-file_name="<%= file_name %>">Submit</button>
                    <% }else{ %>
                        <%= fileList[i][keys[j]] %>
                    <% } %>
                    </td>
                <% } %>
                   
                </tr>
            <% } %>
         
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Do you want to submit this file to castingWords service ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This action can't be undo.
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="submitButton" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <span class="fa fa-spinner fa-spin fa-3x">Loading...</span>
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
</div>


<script>
    var modalElement = document.getElementById('staticBackdrop');
    var modalInstance = bootstrap.Modal.getOrCreateInstance(modalElement);
    var file_name = "";
    var file_url = "";
    modalElement.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        file_name = button.getAttribute('data-bs-file_name')
        var modalTitle = modalElement.querySelector('.modal-title')
        var modalBodyInput = modalElement.querySelector('.modal-body input')
    })
    document.getElementById('submitButton').addEventListener("click", function() {
        if(file_name == ""){
            return;
        }
        modalInstance.hide();
        let loadingModal = bootstrap.Modal.getOrCreateInstance(document.getElementById('loadingModal'));
        loadingModal.show();

        axios.post('/api/submit', {
            file_name: file_name,
        }).then(function (response) {
            loadingModal.hide();
            location.reload();
        }).catch(function (error) {
            console.log(error);
        });
    });
</script>
<style>
    .title {
        width: 15%;
    }
    .file_name {
        width: 10%;
    }
    .notes {
        width: 10%;
    }
</style>